<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add Student Data</title>
    <script th:src="@{../../static/js/main.js}"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <form action="#" th:action="@{/processForm}" th:object="${student}">
      <div>
        <!-- Add table with mandatory fields(required) -->
        <div class="form-group">
          <label for="inputName">Name:</label>
          <input
            type="text"
            id="inputName"
            th:field="*{name}"
            class="form-control"
            required
          />
        </div>
        <div>
          <label for="id">id:</label>
          <input type="number" id="id" th:field="*{id}" class="form-control" />
        </div>
        <div>
          <label for="address">address:</label>
          <input
            type="text"
            id="address"
            th:field="*{address}"
            class="form-control"
          />
        </div>
        <div>
          <label for="mark">mark:</label>
          <input
            type="number"
            id="mark"
            th:field="*{mark}"
            class="form-control"
          />
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </body>
</html>
