<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Students List</title>
  </head>
  <body>
    <a th:href="@{/addStudent}" class="btn btn-primary">addStudent</a>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>id</th>
          <th>address</th>
          <th>Action</th>
          <th>Update</th>
          <th>Higher Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="std : ${students}">
          <td th:text="${std.name}" />
          <td th:text="${std.id}" />
          <td th:text="${std.address}" />
          <td th:text="${std.mark}" />

          <!-- Add update button/link -->
          <td>
            <a
              th:href="@{/showUpdateForm(id=${std.id})}"
              class="btn btn-info btn-sm"
            >
              Update
            </a>
          </td>
          <td>
            <a
              th:href="@{/showStudentsAboveMe(id=${std.id})}"
              class="btn btn-info btn-sm"
            >
              Higher Marks
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
